# Folders to exclude
kantor/
.gemini/
.idea/
.vscode/

# Environment files
**/node_modules/
**/vendor/
**/.env
**/.env.local
**/.env.*.local
**/composer.lock
**/package-lock.json

# Laravel specific
**/storage/*.key
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/testing/*
**/storage/framework/views/*
**/storage/logs/*

# OS specific
.DS_Store
Thumbs.db
